@model List<mvCommerce.Models.ProductAggregator.ProductItem>
@{
    ViewData["Title"] = "Index";
    decimal subTotal = 0;
}

<div class="container">
    <section class="container" id="order" style="margin-top: 50px">

        <h2 class="title-doc">Meu Carrinho</h2>
      <!-- Show error message -->  <div class="alert alert-danger text-center" style="display:none" role="alert"> </div>
       
        <div id="code_cart">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col" width="120">Quantidade</th>
                            <th scope="col" width="170">Preço</th>
                            <th scope="col" width="280" class="text-right">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <figure class="media">
                                        <div class="img-wrap">
                                            @if (item.Images != null && item.Images.Count > 0)
                                            {
                                                <a class="big-image" href="@item.Images.ElementAt(0).Path" data-fancybox><img src="@item.Images.ElementAt(0).Path"></a>
                                            }
                                            else
                                            {
                                                <a href="~/img/default-img.png" data-fancybox><img src="~/img/default-img.png"></a>
                                            }
                                        </div>
                                        <figcaption class="media-body">
                                            <h6 class="title text-truncate">@item.Name</h6>
                                            <dl class="dlist-inline small">
                                                <dt>Size: </dt>
                                                <dd>XXL</dd>
                                            </dl>
                                            <dl class="dlist-inline small">
                                                <dt>Quantidade: </dt>
                                                <dd>@item.AmountProductsCart</dd>
                                            </dl>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div class="col-auto">
                                        <div class="input-group mb-2">
                                            <input type="hidden" value="@item.Id" class="inputProductId"/>
                                            <input type="hidden" value="@item.Amount" class="inputAmountStore"/>
                                            <input type="hidden" value="@item.Price" class="inputValueUnit"/>
                                            <div class="input-group-prepend">
                                                <a class="btn btn-outline-info amount amountLarger" style="width: 60px"> + </a>
                                            </div>
                                            <input class="inputAmountProductCart" readonly="readonly" type="text" value="@item.AmountProductsCart" style="width: 60px; border:none; text-align:center;" />
                                            <div class="input-group-append"> 
                                                <a  class="btn btn-outline-info amount amountLess" style="width: 60px"> - </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                @{ 
                                    var subTotalItem = item.Price * item.AmountProductsCart;
                                    subTotal += subTotalItem;
                                }
                                <td>
                                    <div class="price-wrap col-md-12" style="width:250px;">
                                        <var class="price"><small>Total: </small> <span style="font-size:x-large" class="priceProduct">@subTotalItem.ToString("C")</span></var>
                                        <small class="text-muted">(@item.Price.ToString("C") cada)</small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Id" class="btn btn-outline-danger"> × Remover</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="container">
        <div class="row">

            <aside class="col-md-5">
                <h4 class="subtitle-doc">
                    Calcular frete
                </h4>
                <div id="code_desc_align" class="box">
                    <div class="box text-center">
                        <dl class="dlist-align">
                            <dt>CEP:  </dt>
                            <div class="input-group-prepend">
                                <input class="form-control cep col-md-6" type="text" name="cep" placeholder="00.000-000" />
                                <a href="#" class="btn btn-outline-info btn-calc-freight ml-2">OK</a>

                            </div>
                        </dl>
                        <div class="container-freight">
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="col-md-4">
                <h4 class="subtitle-doc">
                    Resumo
                </h4>
                <div id="code_desc_right" class="box">
                    <div class="box">
                        <dl class="dlist-align">
                            <dt>Subtotal: </dt>
                            <dd class="text-right resume subtotal text-center">@subTotal.ToString("C")</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Frete:</dt>
                            <dd class="text-right resume freight text-center">R$ 0,00</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>TOTAL:</dt>
                            <dd class="text-right resume total text-center">R$ 0,00</dd>
                        </dl>
                    </div>
                </div>
            </aside>
            <aside class="col-md-3">
                <small class="select-freight" style="font-size:smaller;">Para continuar selecione uma opção de frete</small>
                <a class="btn btn-info disabled btn-continue col-md-12" href="#">Continuar</a>
            </aside>
            
        </div>
    </section>
</div>