@model List<mvCommerce.Models.ProductAggregator.ProductItem>
@{
    ViewData["Title"] = "Pagamentos";
    decimal subTotal = 0;
}

<br />
<br />
<section class="container">

    <div class="row">

        <aside class="col-sm-6">

            <h4 class="subtitle-doc">
                Detalhes da compra
            </h4>
            <div id="code_payment">

                <article class="card">
                    <div class="card-body p-5">
                        <div id="code_itemside_img2">
                            <div class="box items-bordered-wrap">
                                @foreach (var item in Model)
                                {
                                    <figure class="itemside">
                                        <div class="aside">
                                            @if (item.Images != null && item.Images.Count > 0)
                                            {
                                                <a href="@item.Images.ElementAt(0).Path" data-fancybox><img src="@item.Images.ElementAt(0).Path" class="img-sm"></a>
                                            }
                                            else
                                            {
                                                <a href="~/img/default-img.png" data-fancybox><img src="~/img/default-img.png"></a>
                                            }
                                        </div>
                                        <figcaption class="text-wrap align-self-center">
                                            @{
                                                var subTotalItem = item.Price * item.AmountProductsCart;
                                                subTotal += subTotalItem;
                                            }
                                            <strong class="title">@item.Name.ToUpper()</strong>
                                            <div class="price-wrap">
                                                <span class="price-new">@item.Price.ToString("C") x @item.AmountProductsCart = <strong>@subTotalItem.ToString("C")</strong></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                }
                            </div>
                            <br />
                            <br />
                            <aside class="col-md-10">
                                <h4 class="subtitle-doc">
                                    Resumo
                                </h4>
                                <div class="box">
                                    <dl class="dlist-align">
                                        <dt>Subtotal: </dt>
                                        <dd class="text-right resume subtotal text-center">@subTotal.ToString("C")</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                        <dt>Frete:</dt>
                                        <dd class="text-right resume freight text-center">@ViewBag.Freight.TypeFreight - @ViewBag.Freight.Value.ToString("C")</dd>
                                    </dl>
                                    <dl class="dlist-align">
                                        <dt>TOTAL:</dt>
                                        @{ 
                                            var valueFreight = (decimal)ViewBag.Freight.Value;
                                        }
                                        <dd class="text-right resume total text-center">@( (subTotal + valueFreight).ToString("C") )</dd>
                                    </dl>
                                </div>
                                </aside>
                        </div>
                </article> 

            </div> 

        </aside>
        <aside class="col-sm-6">

            <h4 class="subtitle-doc">
                Pagamento
            </h4>
            <div id="code_payment2">

                <article class="card">
                    <div class="card-body p-5">

                        <ul class="nav bg radius nav-pills nav-fill mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="btn btn-outline-info nav-link active mr-2" data-toggle="pill" href="#nav-tab-card">
                                    <i class="fa fa-credit-card"></i> Cartão de crédito
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-info  mr-2" data-toggle="pill" href="#nav-tab-paypal">
                                    <i class="fa fa-barcode"></i> Boleto
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-tab-card">
                                <p class="alert alert-danger">Some text success or error</p>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="username">Nome completo (no cartão)</label>
                                        <input type="text" class="form-control" name="username" placeholder=""
                                               required="">
                                    </div> 

                                    <div class="form-group">
                                        <label for="cardNumber">Número do cartão</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="cardNumber"
                                                   placeholder="">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i>
                                                    &nbsp;
                                                    <i class="fab fa-cc-mastercard"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label><span class="hidden-xs">Vencimento</span> </label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" placeholder="MM"
                                                           name="">
                                                    <input type="number" class="form-control" placeholder="YY"
                                                           name="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">
                                                    CVV
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                                <input type="number" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div> 
                                    <button class="subscribe btn btn-info btn-block" style="height:45px; font-size:large" type="button">
                                        Confirmar
                                    </button>
                                </form>
                            </div> 
                            <div class="tab-pane fade" id="nav-tab-paypal">
                                <p>Imprima seu boleto aqui ...</p>
                                <p>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-barcode"></i>
                                       Imprimir boleto
                                    </button>
                                </p>
                                <p>
                                    <strong>Nota:</strong> O boleto expira em 3 dias após gerado!
                                </p>
                            </div>
                        </div>

                    </div>
                </article> 

            </div> 

        </aside> 
    </div>
</section>
